Trained_models/trained_model
__pycache__
.DS_Store


# PDFs
*.pdf

# PNGs
*.png

# env
.env

# results
/Trained_models/inference_results/
Trained_models/full_run/
Trained_models/pretrained/inference_results